<header class="site-header">

  <nav class="navbar">

    <div class="container">

      <a class="navbar-brand brand site-title" href="http://www.pandorabots.com">{{ site.title }}</a>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://playground.pandorabots.com">Playground</a></li>
        <li><a href="https://developer.pandorabots.com">Developer Portal</a></li>
        <li><a href="http://blog.pandorabots.com">Blog</a></li>
      </ul>

    </div>

  </nav>

</header>
